<!DOCTYPE html>
<html ng-app="socialApp">

<head>
    <title>
        <%=title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <style type="text/css">
        .post-form {
            margin-bottom: 20px;
        }
        .deleteIcon {
            cursor: pointer;
            position: absolute;
            top: 5px;
            right: 5px;
        }
        .list-group-item {
            position: realtive;
        }
        .glyphicon-thumbs-up {
            margin-right: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body ng-controller="MainController">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-4">
                <form class="post-form">
                    <div class="form-group">
                        <input type="text" ng-model="username" class="form-control" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="body" class="form-control" placeholder="Enter body text">
                    </div>
                    <button ng-click="addPost()" type="submit" class="btn btn-default">Add post</button>
                </form>
                <ul class="list-group" ng-repeat="post in posts | orderBy : '-upvotes'">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"> {{post.upvotes}}</span><strong>@{{ post.username }}</strong><span> {{ post.body }}</span><span class="pull-right deleteIcon" ng-click="deletePost(post)">x</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script>
        
        var app = angular.module('socialApp', []);
        
        app.controller('MainController', ['$scope', function($scope){
            $scope.posts = [
                { 
                    username : "rsouth90",
                    body: "Lorem ipsum dolor sit amet.",
                    upvotes: 0
                },
                { 
                    username : "robotweet",
                    body: "Lorem ipsum dolor sit amet.",
                    upvotes: 0
                },
                { 
                    username : "keyWarrior",
                    body: "Lorem ipsum dolor sit amet.",
                    upvotes: 0
                }   
            ];
            $scope.addPost = function(){
                
                if ( $scope.username && $scope.body != null ) {
                    $scope.posts.unshift(
                        { 
                            username : $scope.username,
                            body: $scope.body,
                            upvotes: 0
                        }
                    );
                };
            };
            $scope.deletePost = function(post){
                $scope.posts.splice(post, 1);
            };
            $scope.upvote = function(post){
                post.upvotes += 1;
            };
        }]);
        
    </script>

</body>

</html>
